affine==2.3.0
attrs==21.1.0
azure-core==1.13.0
azure-storage-blob==12.8.1
boto3==1.17.67
botocore==1.20.67
Brotli==1.0.9
brotli-asgi==1.1.0
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
cogeo-mosaic==3.0.0rc2
cryptography==3.4.7
fastapi==0.63.0
geojson-pydantic==0.2.2
h11==0.12.0
idna==2.10
importlib-resources==5.1.2
isodate==0.6.0
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
mercantile==1.2.1
morecantile==2.1.0
msrest==0.6.21
numexpr==2.7.3
numpy==1.20.2
oauthlib==3.1.0
pycparser==2.20
pydantic==1.8.1
pygeos==0.9
pyparsing==2.4.7
pystac==0.5.6
python-dateutil==2.8.1
python-dotenv==0.17.1
rasterio==1.2.3
requests==2.25.1
requests-oauthlib==1.3.0
rio-cogeo==2.1.4
rio-color==1.0.2
rio-mucho==1.0.0
rio-tiler==2.0.8
s3transfer==0.4.2
scipy==1.6.3
six==1.16.0
snuggs==1.4.7
starlette==0.13.6
supermercado==0.2.0
titiler==0.3.1
titiler.application==0.3.1
titiler.core==0.3.1
titiler.mosaic==0.3.1
typing-extensions==3.10.0.0
urllib3==1.26.4
uvicorn==0.13.4
